{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ app.user.firstname }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/account.css') }}">{% endblock %}

{% block body %}
    <div id="accountContainer">
        <div id="accountContent">  
            <h1>Bienvenue {{ app.user.firstname }}</h1>
            <a href="{{ path('app_logout') }}" class="btn btn-block btn-outline-light">Me déconnecter</a>
        </div>
    </div>
{% endblock %}
