{% extends 'base.html.twig' %}

{% block title %}Assurance auto{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div id="autoContainer">
        <h1>Votre assurance auto</h1>
        <div id="autoContent">
            <div class="autoItem">
                <p>
                    Le cabinet Assurance&Cie protège tous les automobilistes. Quelque soit votre profil, nous aurons une solutions pour vous : 
                    <ul>
                        <li>Débutant / Jeune permis</li>
                        <li>Expérimenté / Bonussé</li>
                        <li>Malussé / Risque grave</li>
                        <li>Sinistralité élevée</li>
                        <li>Société tous conducteurs</li>
                    </ul>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, veniam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, exercitationem.
                </p>
            </div>
            <div class="autoItem">
                <h3 class="text-center">Demandez un devis dès maintenant !</h3>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="auto-firstname">Prénom</label>
                            <input type="text" class="form-control" id="auto-firstname">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="auto-lastname">Nom</label>
                            <input type="text" class="form-control" id="auto-lastname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="auto-email">Email</label>
                            <input type="text" class="form-control" id="auto-email">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="auto-phone">Téléphone</label>
                            <input type="text" class="form-control" id="auto-phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="auto-message">Votre message</label>
                        <textarea class="form-control" id="auto-message" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="auto-document">Documents complémentaires</label>
                        <input type="file" class="form-control-file" id="auto-document">
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}