{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/accueil.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

{% endblock %}


{% block body %}

<div class="accueilContainer">
        
    <!--First panel -->
    <div class="firstPanel">
        <div class="flexContainer">

            <div class="flexItems1">
                <h1>Premier Titre</h1> <br/>
                <p class="maxWidth520">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>
                <a  href="#" class="text-center btn btn-outline-light">Obtenir un devis gratuitement</a>
            </div>

            <div class="flexItems">

                <img  class="bigImage" src="https://developer.mozilla.org/static/img/favicon144.png">
            </div>
        </div>
    </div>



    <!--Second panel -->
    <div class="secondPanel">
            <h2 class="titre2 text-center my-4"> Second Titre</h2>

            <div class="flexContainerRow">

                <div class="flexItemCol">
                    <img src="https://developer.mozilla.org/static/img/favicon144.png">
                    <h3>Titre</h3>
                    <p class="maxWidth200 text-justify">Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition et la mise 
                        en page avant 
                        impression lorem ipsum.
                    </p>
                    <a  href="#" class="btn btn-outline-dark">Nos blogs</a>
                </div>


                <div class="flexItemCol">
                    <img src="https://developer.mozilla.org/static/img/favicon144.png">
                    <h3>Titre</h3>
                    <p class="maxWidth200 text-justify" >Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition et la mise 
                        en page avant 
                        impression lorem ipsum.
                    </p>
                    <a  href="#" class="btn btn-outline-dark">Nos blogs</a>
                </div>


                <div class="flexItemCol">
                    <img src="https://developer.mozilla.org/static/img/favicon144.png">
                    <h3>Titre</h3>
                    <p class="maxWidth200 text-justify">Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition et la mise 
                        en page avant 
                        impression lorem ipsum.
                    </p>
                    <a  href="#" class="btn btn-outline-dark">Nos blogs</a>
                </div>

            </div>
        </div>




    <!--Third panel -->

    <div class="thirdPanel">
        <div class="flexCenter">
            <h2 class="titre2"> Des partenaires pour tous vos besoins </h2>
        </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                </div>
            </div>
            

        <div class="flexContainer">
                <div class="flexItems">
                        <img  class="bigImage" src="https://developer.mozilla.org/static/img/favicon144.png">
                </div>

                <div class="flexItems1">
                
                    <h3>Le mot du gérant </h3> <br/>
                    <p class="maxWidth400">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble  livre spécimen de. </p>
                </div>
            </div>

        </div>
    </div>
</div>



<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>

<script src="{{ asset('assets/js/accueil.js') }}"></script>

{% endblock %}


