{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/accueil.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

{% endblock %}


{% block body %}

<div class="accueilContainer">
        
    <!--First panel -->
    <div class="firstPanel">
        <div class="flexContainer">

            <div class="flexItems1">
                <h1>Le courtier Made in France</h1> <br/>
                <p class="maxWidth460">Le courtier d'assurance pro et particulier qui fait passer <span class="orange">l'humain</span> avant le <span class="semiBold">contrat</span> </p>
                <a  href="#" class="text-center boxShadow1 btn btn-outline-light">Obtenir un devis</a>
            </div>

            <div class="flexItems">

                <img  class="bigImage" src="./../../../assets/images/accueil/accueil.png">
            </div>
                <img class="posiAbso"  src="./../../../assets/images/accueil/tache1.png">
        </div>
    </div>



    <!--Second panel -->
    <div class="secondPanel">
         <h2 class="titre2"> Pourquoi choisir Hask ?</h2>
         
            <div class="flexContainerRow">

                <div class="flexItemCol">
                    <h3>Lorem Ipsum</h3>
                    <p class="maxWidth200">Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition 
                    </p>
                    {# <a  href="#" class="btn btn-outline-dark">Nos blogs</a> #}
                </div>


                 <div class="flexItemCol">
                    <h3>Lorem Ipsum</h3>
                    <p class="maxWidth200">Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition 
                    </p>
                    {# <a  href="#" class="btn btn-outline-dark">Nos blogs</a> #}
                </div> 


                <div class="flexItemCol">
                    <h3>Lorem Ipsum</h3>
                    <p class="maxWidth200">Le Lorem Ipsum est 
                        simplement du faux texte 
                        employé dans la lorem ipsum
                        composition 
                    </p>
                    {# <a  href="#" class="btn btn-outline-dark">Nos blogs</a> #}
                </div>


                

            </div>
        </div>




    <!--Third panel -->

    <div class="thirdPanel">
            <h2 class="titre3"> Des partenaires pour tous vos besoins </h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo1.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo2.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo3.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo4.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo5.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo6.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo7.png"></div>
                    <div class="swiper-slide"><img class="imageSlider" src=" ./../../assets/images/accueil/logo8.png"></div>
                </div>
            </div>
            
        <div class="margin">
            <div class="flexContainer">
                    <div class="flexItems">
                            <img class="imgGerant" src=" ./../../assets/images/accueil/gerant.png">
                    </div>
                    <span class="trait"></span>
                    <div class="flexItems1">
                        <h3>Le mot du gérant </h3> <br/>
                        <p class="maxWidth400">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de.Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble  livre spécimen de. </p>
                    </div>
                </div>
                    <img class="posiAbso2"  src="./../../../assets/images/accueil/tache2.png">
                    <img class="posiAbso3"  src="./../../../assets/images/accueil/tache3.png">
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>

</div>

<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>

<script src="{{ asset('assets/js/accueil.js') }}"></script>

{% endblock %}


