{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/accueil.css') }}">{% endblock %}

{% block body %}


<div class="accueilContainer">
    <h1>Premier Titre</h1>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>
    <a href="#">Obtenir un devis gratuitement</a>
    <img src=" ">

  
</div>
{% endblock %}
