{% extends 'base.html.twig' %}

{% block title %}Particulier{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/secteur-particulier.css') }}">{% endblock %}

{% block body %}
<div class="bgcontainer">
    <div class="flexCenter">
        <h1 class="marginTop">Assurances particuliers</h1>
    </div>

    <div class="flexContainer">
    {% for i in 0..8 %} 
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Assurance</p>
            </div>
        </div>
    {% endfor %}

    </div>
</div>






{% endblock %}