/*First panel*/
a{
    text-decoration: none;
}

.accueilContainer{
    margin: 0;
}

.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 90vh;
    background: #4A69BD;
    position: relative;
}
.bigImage{
    width: 40vw;
}
.firstPanel::after{
    content:"";
    position: absolute;
    left: 5vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 30px 0 30px;
    border-color: #4A69BD transparent transparent transparent;

}
.boxShadow1{
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.40);
    padding: 5px 40px;
}

.maxWidth460{
    max-width:460px;
    width: 100%;
}

.center{
    display: block;
    margin:auto;
}
.semiBold{
    font-weight: 500;
}
.orange{
    color:#E58E26;
}


/*Second panel*/

.secondPanel::after{
    content:"";
    position: absolute;
    left: 5vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 30px 0 30px;
    border-color: rgb(255, 255, 255) transparent transparent transparent;

}

.flexCenter{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.titre2{
    margin-top: 3em;
    color:#4A69BD;
    margin-left: calc(5vw + 30px);
}

.paddingBot{
    padding-bottom: 20px;
}

.flexItemCol{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #E58E26;
    border-radius: 10px;
    padding-top: 2vh;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.40);
}

.flexContainerRow{
    display:flex;
    justify-content: space-around;
    margin: 5vh 0 10vh;
    color: white;
}

.maxWidth200{
    max-width:200px;
    text-align: center;
    margin-top:20px;
}
p{
    margin-bottom: 2em;
}

   

/*Third panel*/


.thirdPanel{
    height: 80vh;
    background: #4A69BD;
    color: white;

}

.titre3{
    padding-top: 3em;
    color:#fff;
    margin-left: calc(5vw + 30px);
}



.maxWidth400{
    max-width:400px;
}


/*slider*/
.swiper-container {
    width: 80%;
    margin: 4em auto;  
}
.imageSlider{
    width: 90px;
}
  
 /*mediaqueries*/

@media screen and (max-width: 1055px){
    .flexContainer{
        flex-direction: column !important;
        align-items: center;
        height: 100%;


    }
}

 @media screen and (max-width: 764px) {
    .flexContainerRow{
        flex-direction: column !important;
        align-items: center !important;
    }
    .secondPanel{
        height: 100%;
    }

    .thirdPanel{
        height: 100%;
    }
    .flexItemCol{
        margin-bottom: 30px;
    }

}



