/*First panel*/

a{
    text-decoration: none;
}

.accueilContainer{
    margin: 0;
}

.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 80vh;
    background: rgb(3, 23, 80);
}

.bigImage{
    width: 20em;
}

.maxWidth520{
    max-width:520px;
    width: 100%;
}

.center{
    display: block;
    margin:auto;
}


/*Second panel*/

.secondPanel{
    height:80vh;
}

.flexCenter{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.titre2{
    margin-top: 2em;
}

.paddingBot{
    padding-bottom: 20px;
}

.flexItemCol{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.flexContainerRow{
    display:flex;
    justify-content: space-around;
    margin-top: 3em;
}

.maxWidth200{
    max-width:200px;
}
p{
    margin-bottom: 2em;
}

   

/*Third panel*/


.thirdPanel{
    height: 80vh;
    background: rgb(3, 23, 80);
    color: white;

}
.titre3{
    padding-top: 2em;
}


.maxWidth400{
    max-width:400px;
}


/*slider*/
.swiper-container {
    width: 80%;
    margin: 2em auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: rgb(4, 34, 117);
    background: white;
  }
  
 /*mediaqueries*/

@media screen and (max-width: 1055px){
    .flexContainer{
        flex-direction: column !important;
        align-items: center;

    }
}

 @media screen and (max-width: 764px) {
    .flexContainerRow{
        flex-direction: column !important;
    }

}



