/*First panel*/

.accueilContainer{
    margin: 1em auto;
    max-width: 1280px;
}

.flexContainer{
    display: flex;
    justify-content: space-around;
}

.bigImage{
    width: 20em;
}

.maxWidth520{
    max-width:520px;
    width: 100%;

}

.center{
    display: block;
    margin:auto;
}


/*Second panel*/

.flexCenter{
    display: flex;
    justify-content: center;

}

.paddingBot{
    padding-bottom: 20px;
}

.flexItemCol{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.flexContainerRow{
    display:flex;
    justify-content: space-around;



}

.maxWidth200{
    max-width:200px;
}

   

/*Third panel*/

.carousel{
    background-color: blue;
    width: 100%;
    height: 20px;
    margin : 1em auto;
}

.maxWidth400{
    max-width:400px;
}

 /*mediaqueries*/
 @media screen and (max-width: 600px) {
    .flexContainerRow{
        flex-direction: column !important;
    }

}

@media screen and (max-width: 900px){
    .flexContainer{
        flex-direction: column !important;
        align-items: center;

    }
}



