.autoContainer{
    height: 100vh;
    background: linear-gradient(180deg, rgba(74,105,189,1) 50%, rgba(58,83,154,1) 67%);
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.autoContainer h1{
    color: white;
    margin-top: 15vh;
}

.autoContent{
    display: flex;
    justify-content: space-around;
}

.autoContent .autoItem{
    width: 35%;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

.autoContent .autoForm{
    background: linear-gradient(180deg, rgba(74,105,189,1) 50%, rgba(58,83,154,1) 67%);
    width: 35%;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

@media (max-width: 1055px) {

    .autoContainer h1{
        margin-top: 50px;
    }

    .autoContent .autoItem{
        width: 45%;
    }

}

@media (max-width: 764px) {

    .autoContainer{
        display: block;
        height: 100%;
    }

    .autoContainer h1{
        text-align: center;
        margin-bottom: 50px;
    }

    .autoContent{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .autoContent .autoItem{
        width: 80%;
        margin-bottom: 50px;
    }
}