.bgcontainer{
    background-color: #4A69BD;
    height: 91vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}
.flexItem{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flexItem img{
    height: 25vh;
    margin-bottom: 30px;
}
.flexCenter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 1055px){
    .flexContainer{
        flex-direction: column !important;
        
    }
    .bgcontainer{
        height: 100vh;
    }
}
