.faqContainer{
    height: 100%;
    display: flex;
    overflow: hidden;
}
.col{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}
.createQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulaire{
    width: 100%;
    max-width: 365px;
    position: relative;
    color:#4A69BD;
}
.formulaire textarea{
    border-color:#4A69BD;    
    height: 15vh;
}
.questions h3{
    color: #E58E26;
    font-weight: 250;
}
.createQuestion h1{
    color:#E58E26;
}
.boutonFaq{
    background-color: #4A69BD;
    color: white;
    padding: 5px 45px;
    border-radius: 4px!important;
    border: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,0);
}
.boutonFaq:hover{
    background-color:#E58E26;
}
.imgFaq{
    max-width: 380px;
    width: 100%;
    margin-top: 10vh;
}
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 100vh;
    margin: 0 20px;
}
.scrollQuestions{
    overflow-y: scroll;
    max-height: 600px;
    margin-top: 20px;
}
.questionCard{
    margin: 10px 0;
}
.questionText{
    color:#4A69BD;
    text-decoration: none;
    font-size:1.5rem;
    background-color: transparent;
    border:transparent;
    box-shadow: none;
}
.btn:focus,
button:focus{
    box-shadow: none;
}
.questionText:hover{
    color: #E58E26;
}
