.bgcontainer{
    background: #4866B9;
    padding-bottom: 30px;
    height: 100%;
    text-align: center;
}
h5, span{
    color: #fff
}
h5{
    margin-top: 10px;
    margin-bottom: 3px;
}
.marginTop{
    margin-top: 1.5em;
}
.flexCenter{
    display: flex;
    justify-content: center;
    color:white;
}
.blogImg{
    width: 30vw;
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgContainer{
    height: 200px;
}
.imgContainer img{
    width: 100%;
    height: 100%;
}
.maxWidth{
    max-width: 200px;
}
/*slider*/
.ligne{
    position: relative;
    padding: 0 10%;
}
.lienSlide{
    text-align: center;
    min-width: 200px;
    min-height: 250px;
    width: 100%;
    margin:0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-container-article {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev,
.swiper-button-next{
    color: #fff!important;
}
