*{
    margin: 0;
    padding: 0;
}

/* SCROLLBAR */

body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #052069;
}

/* NAVBAR */
#navbar{
    position: sticky;
    top:0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    z-index: 2;
    background: #4866B9;
    width: 100%;
}
.navbar-item a{
    color:white;
}

.underline::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #E58E26;
    transform: scaleX(1);
    transform-origin: 0 0;
    transition: 0.2s ease-in-out;
}
.underline:hover::after{
    transform: scaleX(0.1)
}

.navbar-under a:hover{
    color: #212529;
}
#navbar-main img{
    width: 100px;
    margin-left: 15px;
}
#navbar-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 100%;
}


.pusher{
    transform: translateY(35vh);
}

.navbar-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-item#liberaux{
    width: 200%;
}

.navbar-under{
    display: none;
    z-index: 1 ;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    color: black;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navbar-under::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.navbar-under::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.navbar-under::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(29, 164, 243);
}

.navbar-under-item{
    list-style: none;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}
.navbar-under-item a{
    color: black;
    text-decoration:none;
}

.navbar-under-item:last-child{
    border-bottom: none;
}

#link a {
    text-decoration: none;
    margin: 5px;
    margin-right: 25px;
    padding: 2px;
}

#link a i{
    margin-right: 5px;
}

#link .connect{
    color: #E58E26;
}

#link .devis {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.40);;
    background-color: #E58E26;
    transition: 300ms;
}
#link .devis:hover{
    background-color: #fff;
    color:#E58E26;


}

.lienMain{
    position: relative;
}
.lienMain::after{
    position: absolute;
    content: "";
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    top: 35%;
    right: -15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* Under menus */

#particuliers:hover  #under-particuliers {
    display: flex;
}
#entreprises:hover #under-entreprises {
    display: flex;
}
#liberaux:hover #under-liberaux {
    display: flex;
}
#blogs:hover #under-blogs {
    display: flex;
}

/* Burger menu */

#burger{
    position: absolute;
    color: #E58E26;
    font-size: 30px;
    top: 10px;
    right: 15px;
    display: none;
    z-index: 1;
    cursor: pointer;
}



@media screen and (max-width:1055px) {

    #burger{
        display: block;
    }
    #navbar{
        margin-top: 30px;
        display: none;
        color: blue;
        flex-direction: column-reverse;
        background-color: white;
        position: static;
    }

    #navbar-main{
        display: block;
        justify-content: center;
        width: 90% ! important;
        margin-bottom: 10vh;
        margin-top: 2vh;
    }
    .navbar-item{
        height: 70%;
    }
    
    .navbar-item a{
    color:#4A69BD;
    text-decoration: underline;
    text-decoration-color: #E58E26;
    }

    #particuliers:hover  #under-particuliers {
        display: none;
    }
    #entreprises:hover #under-entreprises {
        display: none;
    }
    #liberaux:hover #under-liberaux {
        display: none;
    }
    #blogs:hover #under-blogs {
        display: none;
    }
    
    #link{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    #link a {
        color: #4a69bd !important;

    }
    #link .devis {
        margin-top: 5px;
        padding: 2px;
    }
    .navbar-item#liberaux{
        text-align: center;
        width: 100%;
        
    }

}

@media screen and (max-width:470px) {

    #navbar-main{
        margin-top: 30%;
        height: 60%;
    }
    #link{
        margin-top: -45%;
        margin-left: 25%;
    }
    
}

@media screen and (max-width:270px){
    #navbar-main{
        margin-top: 50%;
        font-size: 15px;
        height: 50%;
    }

    #link{
        margin-top: -50%;
        margin-left: 20%;
        font-size: 15px;
    }
}
