*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
}

#navbar-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navbar-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-under{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px 15px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-under-item{
    list-style: none;
    padding: 10px 0;
    width: 75%;
    text-align: center;
    border-bottom: 1px solid black;
}
.navbar-under-item:last-child{
    border-bottom: none;
}

#link a {
    text-decoration: none;
    color: black;
    margin: 5px;
    margin-right: 20px;
    padding: 2px;
}

#link .devis {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

/* Under menus */

#particuliers:hover  #under-particuliers {
    display: flex;
}
#entreprises:hover #under-entreprises {
    display: flex;
}
#liberaux:hover #under-liberaux {
    display: flex;
}
#blogs:hover #under-blogs {
    display: flex;
}


