{% extends 'base.html.twig' %}

{% block title %} FAQ {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/faq.css') }}">
{% endblock %}

{% block body %}


    <div class="faq">
        <div class="question text-center">
            <h2>Bienvenue sur la FAQ</h2>
            <p>Ici vous pouvez posez vos question et quelqu'un tachera d'y repondre le plus rapidement possible !</p>
            
        </div>
    </div>

{% endblock %}