{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/blog.css') }}">
{% endblock %}
{% block body %}
<div class="flexContainerRow">

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/assuranceBlog.png">
        <h3 class="titre">Assurance</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="#" class="btn">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/motoBlog.png">
        <h3 class="titre" >Moto</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="#" class="btn">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/faqBlog.png">
        <h3 class="titre">FAQ</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="{{path('faq')}}" class="btn">En savoir plus</a>
    </div>


</div>


{% endblock %}
