{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/blog.css') }}">
{% endblock %}
{% block body %}
<div class="flexContainerRow">

    <div class="flexItemCol">
        <img src="https://developer.mozilla.org/static/img/favicon144.png">
        <h3>Assurance</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="#" class="btn btn-outline-dark">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="https://developer.mozilla.org/static/img/favicon144.png">
        <h3>Moto</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="#" class="btn btn-outline-dark">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="https://developer.mozilla.org/static/img/favicon144.png">
        <h3>FAQ</h3>
        <p class="maxWidth300 text-justify">Le Lorem Ipsum est 
            simplement du faux texte 
            employé dans la lorem ipsum
            composition et la mise 
            en page avant 
            impression lorem ipsum.
        </p>
        <a  href="#" class="btn btn-outline-dark">En savoir plus</a>
    </div>


</div>


{% endblock %}
