{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/blog.css') }}">
{% endblock %}
{% block body %}
<div class="flexContainerRow">

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/assuranceBlog.png">
        <h3 class="titre">Assurance</h3>
        <p class="maxWidth300 text-justify">ta situation est unique, Hask les french courtier te trouve des solutions adaptées
        </p>
        <a  href="{{path('assurance_articles') }}" class="btn">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/motoBlog.png">
        <h3 class="titre" >Moto</h3>
        <p class="maxWidth300 text-justify">garanties exclusives et sur mesure : rachat de franchise, assistance premium avec véhicule de remplacement, protection du conducteur jusqu’à 1,2m€, valeur d’achat 24 mois.
        </p>
        <a  href="{{path('moto_articles')}}" class="btn">En savoir plus</a>
    </div>

    <div class="flexItemCol">
        <img src="./../../assets/images/blog/faqBlog.png">
        <h3 class="titre">FAQ</h3>
        <p class="maxWidth300 text-justify">Ta question, notre réponse ! 
        </p>
        <a  href="{{path('faq')}}" class="btn">En savoir plus</a>
    </div>


</div>


{% endblock %}
