<div id="footer">
    <div id="bigFooter">
        <div class="footerParts marginLeft" id="logo">
            <div class="imgFooter">
                <img src="./../../../assets/images/logo.png" alt="HASK">
            </div>
        </div>
        <div class="footerParts separate">
            <div class="titlePart">
                A propros de nous 
            </div>
            <div class="listPart">
                <ul>
                    <li>A propos</li>
                    <li>Blog</li>
                    <li>Nos partenaires</li>
                </ul>
            </div>
        </div>
        <div class="footerParts separate">
            <div class="titlePart">
                Support 
            </div>
            <div class="listPart">
                <ul>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="footerParts separate">
            <div class="titlePart">
                Légal 
            </div>
            <div class="listPart">
                <ul>
                    <li>Mentions légales</li>
                    <li>Confidentialité</li>
                    <li>CGU</li>
                </ul>
            </div>
        </div>
        <div class="footerParts separate marginRight">
            <div class="titlePart">
                Inscrivez-vous à notre newsletter 
            </div>
            <div class="listPart">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Adresse email" aria-label="Adresse email" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-light" type="button">OK</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div id="littleFooter">
        <div id="copyright" class="marginLeft">
            © HASK
        </div>
        <div id="links" class="marginRight">
            <a href="https://www.instagram.com/" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/" class="icon"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div>