<div id="footer">
    <div id="bigFooter">
        <div class="footerParts">
            
        </div>
        <div class="footerParts">

        </div>
        <div class="footerParts">
            
        </div>
        <div class="footerParts">

        </div>
        <div class="footerParts">

        </div>
    </div>
    <div id="littleFooter">
        <div id="copyright">
            © HASK
        </div>
        <div id="links">

        </div>
    </div>
</div>