{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/NavBar.css') }}">{% endblock %}

{% block body %}

    <header>
        <ul>
            <li>Particuliers
                <ul>
                    <li>Auto</li>
                    <li>2 roues</li>
                    <li>Auto</li>
                    <li>Auto</li>
                    <li>Auto</li>
                </ul>
            </li>
            <li>Entreprises</li>
            <li>Liberaux, artisants, commerçants</li>
            <li>Nos blogs
                <ul>
                    <li>Assurance</li>
                    <li>Moto</li>
                    <li>FAQ</li>
                </ul>
            </li>
        </ul>
        <div class="link">
            <a href="#" class="connect"><i class="far fa-user-circle"></i>Me connecter</a>
            <a href="#" class="devis">Demander un devis</a>
        </div>
        
    </header>

{% endblock %}